<div class="excel-upload p-5" id="excelBlock" *ngIf = "!isExcelUploaded">
	<h1 class="font-medium tracking-tight text-secondary m-2 ml-7">Upload Open Position Excel </h1>
	<div class="container mt-2 bg-card" appDnd (fileDropped)="onFileDroppedExcel($event)" *ngIf = "!disableExcelDndDiv">
		<div class="flex flex-col items-center " >
			<div class="text-center"> 
				<input type="file" #fileDropRef style="cursor: pointer;" id="fileDropRef" (change)="fileBrowseHandlerExcel($event.target.files)" accept=".xls,.xlsx" />
				<mat-icon class="upload-icon" svgIcon="heroicons_outline:upload"></mat-icon>
			</div>
			<div class="mt-2 font-medium tracking-tight text-secondary">
				<h3>Drag and drop Excel file here</h3>
			</div>
			<div class="mt-2 text-base">
				<h3>or</h3>
			</div>
			<div class="mt-2" >
				<label for="fileDropRef" >Browse for file</label>
			</div>
			<div class="mt-2">
				<p class = "font-medium tracking-tight text-secondary" >*Note: Please upload only excel file with .xlsx or .xls extension</p>
			</div>
		</div>
	</div>
	<div class="m-3">
		<!-- <fuse-alert
			class="mt-8  w-full"
			*ngIf="showAlertExcel"
			[appearance]="'outline'"
			[showIcon]="false"
			[type]="alert.type"
			[button] ="true"
			>
			<div class="flex flex-row justify-content-end">
				<div class="mr-5">
					{{alert.message}}
				</div>
				<div class="ml-5">
					<a class="ml-2" mat-icon-button (click)="cancelExcelError()" matTooltip="Cancel">
					<mat-icon  class="cross-error-icon" [svgIcon]="'heroicons_outline:x'"></mat-icon>
					</a>
				</div>
			</div>
			
			
		</fuse-alert> -->
		<fuse-alert
			class="mt-8 -mb-4 w-full text-center"
			*ngIf="showAlertExcel"
			[appearance]="'outline'"
			[showIcon]="false"
			[type]="alert.type"
			>
			{{alert.message}}
			<a class="ml-2" mat-icon-button (click)="cancelExcelError()" matTooltip="Cancel" class="justify-end">
                <mat-icon class="cross-error-icon" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
			
		</fuse-alert>
	</div>
	<div class="files-list">
		<div class="single-file" *ngFor="let file of files; let i = index">
			<div class="file-icon">
				<mat-icon  class="doc-icon" svgIcon="heroicons_outline:document-text"></mat-icon>
			</div>
			<div class="info">
				<h4 class="name">
					{{ file?.name }}
				</h4>
				<p class="size">
					{{ formatBytes(file?.size) }}
				</p>
				<!-- <app-progress-bar [progress]="file?.progress"> </app-progress-bar> -->
			</div>
			<div class="delete" (click)="deleteFileExcel(i)" >
				<mat-icon class="delete-icon" svgIcon="heroicons_outline:trash"></mat-icon>
			</div>
		</div>
		<!-- <app-progress-bar [progress]="files?.progress"> </app-progress-bar> -->

	</div>
	<div class="flex flex-row justify-center p-6"  >
		
		<button class="m-3 reset-button" mat-stroked-button (click)="resetButton()">
			<span class="ml-2 mr-1">Reset</span>
		</button>
		
		<button class="m-3 button" mat-flat-button  (click)="excelUpload()" [disabled] = "files.length==0">
			<span class="ml-2 mr-1" >Upload</span>
		</button>
	</div>
	
</div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div *ngIf = "isExcelUploaded && !isNextBtnClicked" class="m-3">
	<!-- <div class="successMsg container mt-3">
		<div class="mt-2">
			<h2>No. of Closed Positions: 100 </h2>
		</div>
		<div class="mt-2">
			<h2>No. of Open Positions: 300 </h2>
		</div>
		<div class="mt-2">
			<h2>Click on next to upload pdfs</h2>
		</div>
		<button class="m-3 button" mat-flat-button  (click)="next()" >
			<span class="ml-2 mr-1" >Next</span>
		</button>
	</div> -->
		<!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0"> -->
		<!-- <div class="flex flex-row items-center">
			<div class="flex flex-col flex-auto p-6 card card1 shadow rounded-2xl overflow-hidden w-50">
				
				<div class="flex flex-col items-center mt-2">
					<div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-400">130</div>
					<div class="text-lg font-medium text-blue-600 dark:text-blue-500 mt-2">Open Positions</div>
					
				</div>
			</div>
			<div class="flex flex-col flex-auto p-6 card card1 shadow rounded-2xl overflow-hidden w-50">
				
				<div class="flex flex-col items-center mt-1">
					<div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-400">20</div>
					<div class="text-lg font-medium text-red-600 dark:text-red-500 mt-2">Closed Positions</div>
					
				</div>
			</div>
			
		</div> -->
	<!------------------------------------------------------------------------------------------------>
	<table *ngIf="dataSource.data.length!=0" mat-table  matSort [dataSource]="dataSource">
		<!-- FileName -->
		<ng-container matColumnDef="orders">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Orders </th>
		  <td mat-cell *matCellDef="let element"> 
			  <ng-container *ngIf="element.orders != null else temp">
				{{ element.orders }} 
			  </ng-container> 
			  <ng-template #temp>
				-
			  </ng-template>  
		  </td>
		</ng-container>
		<!-- Status -->
		<ng-container matColumnDef="orderNo">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No. </th>
		  <td mat-cell *matCellDef="let element"> 
			<ng-container *ngIf="element != null else temp">
				{{ element.orderNo }} 
			  </ng-container> 
			  <ng-template #temp>
				-
			  </ng-template>  
		   </td>
		</ng-container>
		<!-- Icon -->
		<!-- <ng-container matColumnDef="icon">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
		  <td mat-cell *matCellDef="let element">
			<ng-container > 
				<mat-icon [matTooltip]="'Open Position'" svgIcon="heroicons_solid:check-circle" class="text-green-500"></mat-icon>
			</ng-container>
			 
		  </td>
		</ng-container> -->

		<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> -->
		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky top-0" ></tr>

		<!-- <ng-container *matRowDef="let row; columns: displayedColumns; ">
		  <tr mat-row *ngIf="!row.activeStatus" (click)="getDetails(row)"></tr>
		</ng-container> -->
		<tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
	  </table>
	  <div class="flex flex-row justify-center "  *ngIf = "!isAcceptClicked && dataSource.data.length!=0">
		<div>
			<button class="m-3 reset-button" mat-stroked-button (click)="resetButton()" >
				<span class="ml-2 mr-1">Reject</span>
			</button>
		</div>
		<div>
			<button class="m-3 button" mat-flat-button  (click)="accept()" >
				<span class="ml-2 mr-1" >Accept</span>
			</button>
		</div>
		
		
	</div>
		<div class="flex flex-col items-center" *ngIf = "isAcceptClicked">
			<div class="mt-2">
				<p class = "font-bold note" >Click on next to upload pdfs</p>
			</div>
			<button class="m-3 button" mat-flat-button  (click)="next()" >
				<span class="ml-2 mr-1" >Next</span>
			</button>
		</div>
		
	
</div>
<div *ngIf = "isNextBtnClicked">
	<app-position-pdf-upload></app-position-pdf-upload>
</div>
