.file-input {
    display: none;
  }

  ::ng-deep .prose :where(thead th):not(:where([class~="not-prose"] *)) {
    vertical-align: middle;
    text-align: center;
  }

  ::ng-deep .prose :where(tbody td):not(:where([class~="not-prose"] *)) {
    vertical-align: middle;
  }
  
  ::ng-deep .prose :where(table):not(:where([class~="not-prose"] *)){
    text-align: center;
  }

  ::ng-deep th.mat-header-cell{
    text-align: center !important;
  }